body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:430px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5189_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-2px;
  width:440px;
  height:876px;
}
#u5189 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:430px;
  height:866px;
}
#u5190 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:425px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:669px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5191 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:109px;
  width:377px;
  height:669px;
}
#u5192 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:76px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#0000FF;
}
#u5193 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:23px;
  width:206px;
  height:76px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#0000FF;
}
#u5194 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:202px;
  word-wrap:break-word;
}
#u5195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:76px;
}
#u5195 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:23px;
  width:77px;
  height:76px;
}
#u5196 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5197 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:110px;
  width:375px;
  height:667px;
  overflow:hidden;
}
#u5197_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u5197_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5198 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u5199 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:212px;
  width:280px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u5200 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5201 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5202 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:213px;
  width:229px;
  height:48px;
}
#u5202_input {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:48px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5203 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:227px;
  width:20px;
  height:20px;
  opacity:0.8;
}
#u5204 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u5205 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:163px;
  width:280px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u5206 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:17px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#1ABC9C;
  line-height:20px;
}
#u5207 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:376px;
  width:335px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#1ABC9C;
  line-height:20px;
}
#u5208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:15px;
  width:335px;
  word-wrap:break-word;
}
#u5209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:right;
  line-height:20px;
}
#u5209 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:261px;
  width:287px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:right;
  line-height:20px;
}
#u5210 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:15px;
  width:287px;
  word-wrap:break-word;
}
#u5211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:20px;
}
#u5211 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:426px;
  width:335px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:20px;
}
#u5212 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:15px;
  width:335px;
  word-wrap:break-word;
}
#u5213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:2px;
}
#u5213 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:451px;
  width:113px;
  height:1px;
}
#u5214 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:2px;
}
#u5215 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:451px;
  width:114px;
  height:1px;
}
#u5216 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 221, 228, 1);
  border-radius:140px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u5217 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:486px;
  width:280px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u5217_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 221, 228, 1);
  border-radius:140px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u5217.mouseDown {
}
#u5218 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:276px;
  word-wrap:break-word;
}
#u5219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 221, 228, 1);
  border-radius:140px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u5219 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:536px;
  width:280px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u5219_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 221, 228, 1);
  border-radius:140px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u5219.mouseDown {
}
#u5220 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:276px;
  word-wrap:break-word;
}
#u5221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u5221 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:496px;
  width:26px;
  height:22px;
}
#u5222 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u5223 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:540px;
  width:26px;
  height:26px;
}
#u5224 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5225 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:227px;
  width:20px;
  height:20px;
  opacity:0.3;
}
#u5226 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5227 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:178px;
  width:20px;
  height:20px;
  opacity:0.3;
}
#u5228 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5229 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:9px;
  width:30px;
  height:30px;
}
#u5230 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:45px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:140px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5231 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:321px;
  width:280px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5231_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:45px;
  background:inherit;
  background-color:rgba(22, 160, 133, 1);
  border:none;
  border-radius:140px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5231.mouseDown {
}
#u5232 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:276px;
  word-wrap:break-word;
}
#u5233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5233 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:334px;
  width:20px;
  height:20px;
}
#u5234 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5235 {
  position:absolute;
  left:268px;
  top:226px;
}
#u5235_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background-image:none;
}
#u5235_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5236 {
  position:absolute;
  left:0px;
  top:0px;
}
#u5236_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background-image:none;
}
#u5236_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u5237 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u5237_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u5237.selected {
}
#u5238 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:48px;
  word-wrap:break-word;
}
#u5236_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  visibility:hidden;
  background-image:none;
}
#u5236_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u5239 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u5240 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u5241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5241 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:20px;
  height:20px;
}
#u5242 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5243 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5244 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:164px;
  width:229px;
  height:48px;
}
#u5244_input {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:48px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5245 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:178px;
  width:20px;
  height:20px;
  opacity:0.8;
}
#u5246 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u5247 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:57px;
  width:80px;
  height:80px;
}
#u5248 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5249 {
  position:fixed;
  left:50%;
  margin-left:-187.5px;
  top:50%;
  margin-top:-333.5px;
  width:375px;
  height:667px;
  overflow:hidden;
}
#u5249_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5249_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5250_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:210px;
  height:61px;
}
#u5250 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:308px;
  width:200px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u5251 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:16px;
  width:170px;
  word-wrap:break-word;
}
#u5249_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5249_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5252_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:228px;
  height:61px;
}
#u5252 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:308px;
  width:218px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u5253 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:16px;
  width:188px;
  word-wrap:break-word;
}
#u5249_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5249_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5254_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:197px;
  height:61px;
}
#u5254 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:309px;
  width:187px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u5255 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:16px;
  width:157px;
  word-wrap:break-word;
}
#u5249_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5249_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5256 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5257_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:150px;
  height:110px;
}
#u5257 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:287px;
  width:140px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
  line-height:36px;
}
#u5258 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:42px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u5259 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:340px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u5260 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:10px;
  width:110px;
  word-wrap:break-word;
}
#u5261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5261 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:298px;
  width:50px;
  height:50px;
}
#u5262 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
